# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# every file
[*]
# Unix-style newlines with a newline ending
end_of_line = lf
insert_final_newline = true
# Space indentation
indent_style = space
indent_size = 2
