.btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #eee;
  color: #000;
  border: none;
}

.btn.blue {
  background-color: #4444ff;
  color: #fff;
}

.btn.red {
  background-color: #ff4444;
  color: #fff;
}

.btn.yellow {
  background-color: #F6FF1A;
  color: #000;
}

.icon {
  background-color: #FFF;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 100%;
  background-image: url('../../dev/xbox.png') ;
  background-size: contain;
  background-size: 48px 48px;
}

.icon:hover {
    border: 1px solid orange;
}

