@import url("buttons.css");

/*//////////////////////////////////////////////////////////////////*/
		/* FONTS */
/*//////////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'distant_galaxyregular';
    src: url('webfontkit/DISTGRG_-webfont.eot');
    src: url('webfontkit/DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/DISTGRG_-webfont.woff') format('woff'),
         url('webfontkit/DISTGRG_-webfont.ttf') format('truetype'),
         url('webfontkit/DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('webfontkit/openSans-regular-webfont.eot');
    src: url('webfontkit/openSans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/openSans-regular-webfont.woff') format('woff'),
         url('webfontkit/openSans-regular-webfont.ttf') format('truetype'),
         url('webfontkit/openSans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_axisregular';
    src: url('webfontkit/KOMIKAX_-webfont.eot');
    src: url('webfontkit/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/KOMIKAX_-webfont.woff') format('woff'),
         url('webfontkit/KOMIKAX_-webfont.ttf') format('truetype'),
         url('webfontkit/KOMIKAX_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akashiregular';
    src: url('webfontkit/akashi-webfont.eot');
    src: url('webfontkit/akashi-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/akashi-webfont.woff') format('woff'),
         url('webfontkit/akashi-webfont.ttf') format('truetype'),
         url('webfontkit/akashi-webfont.svg#akashiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*//////////////////////////////////////////////////////////////////*/
		/* MAIN CSS */
/*//////////////////////////////////////////////////////////////////*/
body, html {
	background: url("../img/congruent_pentagon.png") repeat;
	margin: 0;
	padding: 0;

}

.mainContainer { 
  border-radius:5px;
  width: 1100px;
  margin: auto;
  background-color: #252525;
  
  
}

/*//////////////////////////////////////////////////////////////////*/
		/* SEARCHBAR LOGIN BTN CSS */
/*//////////////////////////////////////////////////////////////////*/

.loginSearchBar {
  border:2px solid;
  border-radius: 2px;
  width: 1090px;
  overflow: auto;
  margin: 4px auto;
   background-color: #434343;
}

.search {
  display: inline-block;
  float: right;
  margin: 6px;
  height: 31px;
  font-family: 'open_sansregular';
}

.topbutton {
  border-radius: 3px;
  border: none;
  float: right;
  height: 30px;
  width: 60px;
  font-family: 'open_sansregular', sans-serif;
  font-size: 14px;
  text-align: center;
  background-color: rgb(32,172,54);
  /*background-color: rgba(49,207,66,1);*/
  padding: 0;
  margin: 1px;
  color: #FFF;
}



/*//////////////////////////////////////////////////////////////////*/
		/* TITLE AND LOGO CSS */
/*//////////////////////////////////////////////////////////////////*/
	
.leaderBoard img {
	margin: 0 auto;
	display: block;
	padding: 10px;

}

.leaderBoard {
	border-radius: 1px;
	background-color: #8EC3EF;
    margin: 5px auto;
    
}




/*//////////////////////////////////////////////////////////////////*/
		/* LB LEADERS CSS */
/*//////////////////////////////////////////////////////////////////*/



.leaderList {
	border-radius: 1px;
	background-color: #4779AF;
  height:180px;
	padding: 0;
	width: 1090px;
  margin: 10px 5px 20px 5px;
  border-bottom: solid 10px rgb(30, 30, 30);
  border-top: solid 10px rgb(171, 171, 171);
}

.avatar {
  border:10px solid #A5C7EC;
  border-radius: 140px;
  height: 140px;
  width: 140px;
   display: inline-block;
  margin: 0px auto;
   margin-left: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 5px;
}

.avatar img {
  border-radius:140px;
  height:140px;
  width:140px;
  margin-bottom: 30px;
}

.avatar:hover {
	
	box-shadow: 1px 1px 5px 3px rgba(13,27,33,1);
}



.topFiveFrame {
	/*border: 1px solid black;*/
	width: 820px;
	margin: 0 auto;
}

/*//////////////////////////////////////////////////////////////////*/
		/* LEADERBOARD LIST CSS */
/*//////////////////////////////////////////////////////////////////*/
 
.lbContainer {
	width: 900px;
	margin: 5px auto;
	padding: 2px;
}

.lbContainer2 {
	/*border: 1px solid red;*/
	width: 298px;
	float: left;
	margin: auto;
}

.lbMember {
	/*border: 1px solid blue;*/
	width: 705px;
	height:;
	overflow: auto ;
	background-color: #2C2236;
  border-top: solid rgb(61, 52, 72) 4px;
  border-bottom: solid rgb(30, 30, 30) 4px;
  margin: 0px auto;
}

.lbAvatar {
	border: 4px solid rgb(61, 52, 72);
  border-radius: 50px;
	height: 50px;
	width: 50px;
	float: left;
	margin: 6px auto 6px 6px;
}

.lbWrap {
	/*border: 1px solid green;*/
	margin: 0 auto;
	text-align: center;
  color:white;
}

.lbName {
	
	padding: 0;
	font-family: 'komika_axisregular';
}
.lbTotal {
	/*border: 1px solid yellow;*/
	float: left;
	width: 100px;
	font-family: 'komika_axisregular';
}	

.lbXpBar {
	width: 290px;
	margin: 2px auto;
	padding: 1px;
	/*border-bottom: 1px solid rgba(26,55,69,0.5);*/

}

progress[value] {
	-webkit-appearance: none;
	appearance: none;
	width: 290px;
	height: 51px;
	margin: 4px auto;
	padding: 0;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
 background-image:
	   -webkit-linear-gradient(transparent 100%, rgba(0, 0, 0, .1) 100%, 
	                           rgba(0,0, 0, .1) 100%, transparent 100%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #0D1B21, #20AC36); 
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*//////////////////////////////////////////////////////////////////*/
		/* FOOTER CSS */
/*//////////////////////////////////////////////////////////////////*/

.footer {
  border-top: 10px solid rgb(54, 54, 54);;
  border-radius: 5px;
  height: 30px;
  width: 1090px;
  margin: 15px auto;
  padding: 5px;
}

.footer p {
	float: left;
	margin: 0 auto;
	padding: 4px 0px 0px 5px;
	font-size: 1.3em;
	font-family: 'akashiregular';
	text-align: center;
  color:white;
  vertical-align: middle;
}

.footer ul {
	float: right;
	margin: 0 auto;
	list-style-type: none;
	width: 240px;
}

.footer ul li {
	float: left;
	padding: 0;
  vertical-align: middle;
}

.footer ul li a {
	text-decoration: none;
	font-size: 0.8em;
	font-family: 'open_sansregular';
	text-align: center;
	color: #FFF;
	padding: 0px 8px;
}

.footer ul li a:hover {
	color: rgba(13,27,33,1);

}

/*//////////////////////////////////////////////////////////////////*/
		/* FOOTER CSS */
/*//////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

.groupbuttonFrame{
	border: 1px solid;
	height: 40px;
	width: 350px;
	margin: auto;
	margin-top: 30px;
}

.groupbutton
{
	border: 1px solid;
	border-radius: 1px;
    height: 35px;
    width: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #c0392b;
}

.groupbutton p {
	color: white;
	margin-top: 10px;
}

.active{

   background-color: #cc0000;
}

.active1{
   
   background-color: #e74c3c;

}
