@import url("buttons.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
/*//////////////////////////////////////////////////////////////////*/
		/* MAIN CSS */
/*//////////////////////////////////////////////////////////////////*/
body, html {
	background: url("../img/congruent_pentagon.png") repeat;
	margin: 0;
	padding: 0;

}

.mainContainer {
  border: 1px solid orange; 
  border-radius:5px;
  width: 1100px;
  margin: auto;
  background-color: rgba(13,27,33,1);
  
  
}

/*//////////////////////////////////////////////////////////////////*/
		/* SEARCHBAR LOGIN BTN CSS */
/*//////////////////////////////////////////////////////////////////*/

.loginSearchBar {
  border:1px solid;
  border-radius: 2px;
  width: 1090px;
  overflow: auto;
  margin: 5px auto;
   background-color: rgba(0,184,255,1);
}

.search {
  display: inline-block;
  float: right;
  margin: 1px;
  height: 31px;
}

.topbutton {
  border-radius: 2px;
  border: none;
  float: right;
  height: 25px;
  width: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: center;
  background-color: rgb(32,172,54);
  /*background-color: rgba(49,207,66,1);*/
  padding: 3px;
  margin: 1px;
}

.topbutton a {
	text-decoration: none;
}
.topbutton p {
	margin-top: 5px;
	color: white;
}

/*//////////////////////////////////////////////////////////////////*/
		/* TITLE AND LOGO CSS */
/*//////////////////////////////////////////////////////////////////*/
	
.leaderBoard img {
	margin: 0 auto;
	display: block;
	padding: 10px;

}

.leaderBoard {
	border-radius: 1px;
	background-color: rgba(0,184,255,1);
    width: 1090px;
    margin: 5px auto;
    
}




/*//////////////////////////////////////////////////////////////////*/
		/* LB LEADERS CSS */
/*//////////////////////////////////////////////////////////////////*/



.leaderList {
	border-radius: 1px;
	background-color: rgba(0,184,255,1);
	padding: 0;
	width: 1090px;
	margin: 6px auto;
}

.avatar {
	border:1px solid #69D2E7;
	border-radius: 100px;
	height: 150px;
	width: 150px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: center;

}

.topFiveFrame {
	width: 910px;
	margin: auto;
	margin: 0 auto;
}

/*//////////////////////////////////////////////////////////////////*/
		/* LEADERBOARD LIST CSS */
/*//////////////////////////////////////////////////////////////////*/

.color1 {
	
}

.color2 {
	
}

.lbContainer {
	border: 1px solid orange;
	width: 900px;
	margin: 5px auto;
	background-color: #fff;
	padding: 2px;
}

.lbContainer2 {
	/*border: 1px solid red;*/
	width: 298px;
	float: left;
	margin: auto;


}

.lbMember {
	/*border: 1px solid blue;*/
	width: 900px;
	height:;
	overflow: auto ;
	
}

.lbAvatar {
	border:1px solid orange;
	height: 50px;
	width: 50px;
	float: left;
	margin: 1px;
}

.lbWrap {
	/*border: 1px solid green;*/
	margin: 0 auto;
	text-align: center;
	height: ;
}

.lbName {
	width:100px;
}

.lbXpBar {
	width: 290px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid rgba(26,55,69,0.5);

}

progress[value] {
	-webkit-appearance: none;
	appearance: none;
	width: 290px;
	height: 51px;
	margin: 0 auto;
	padding: 0;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
 background-image:
	   -webkit-linear-gradient(transparent 100%, rgba(0, 0, 0, .1) 100%, 
	                           rgba(0,0, 0, .1) 100%, transparent 100%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #0D1B21, #20AC36); 
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*//////////////////////////////////////////////////////////////////*/
		/* FOOTER CSS */
/*//////////////////////////////////////////////////////////////////*/

.footer {
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
  width: 1090px;
  margin: 5px auto;
  background-color: ;
}

.footer p {
	border: 1px solid red;
	float: left;
	margin: 0 auto;
	padding: 3px;
	font-size: 1.1em;
	font-family: 'Tahoma';
	text-align: center;
}

.footer ul {
	border: 1px solid black;
	float: right;
	margin: 0 auto;
	padding: 4px;
	list-style-type: none;
	width: 240px;

}

.footer ul li {
	float: left;
	padding: 0;

}

.footer ul li a {
	text-decoration: none;
	font-size: 0.8em;
	font-family: 'Tahoma';
	text-align: center;
	color: #FFF;
	padding: 0px 8px;
}

/*//////////////////////////////////////////////////////////////////*/
		/* FOOTER CSS */
/*//////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

.groupbuttonFrame{
	border: 1px solid;
	height: 40px;
	width: 350px;
	margin: auto;
	margin-top: 30px;
}

.groupbutton
{
	border: 1px solid;
	border-radius: 1px;
    height: 35px;
    width: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #c0392b;
}

.groupbutton p {
	color: white;
	margin-top: 10px;
}

.active{

   background-color: #cc0000;
}

.active1{
   
   background-color: #e74c3c;

}









