@import url("buttons.css");

/*//////////////////////////////////////////////////////////////////*/
		/* MAIN CSS */
/*//////////////////////////////////////////////////////////////////*/

.mainContainer {
  border: 1px solid orange; 
  border-radius:5px;
  width: 1100px;
  margin: auto;
  
}

/*//////////////////////////////////////////////////////////////////*/
		/* SEARCHBAR LOGIN BTN CSS */
/*//////////////////////////////////////////////////////////////////*/

.loginSearchBar {
  border:1px solid;
  border-radius: 2px;
  width: 1100px;
  height:25px;
  margin: auto;
}

.search {
  display: inline-block;
  float: right;
  margin-right: 1px;
  margin-top: 1px;
}

.topbutton {
  border:1px solid;
  border-radius: 2px;
  display: inline-block;
  float: right;
  height: 25px;
  width: 60px;
  font-family: Verdana;
  font-size: 10px;
  text-align: center;
}

/*//////////////////////////////////////////////////////////////////*/
		/* TITLE AND LOGO CSS */
/*//////////////////////////////////////////////////////////////////*/
	
.leaderBoard img {
	height: 100px;
	float: left;
	margin-top: 50px;
	margin-left: 30px;

}

.leaderBoard {
	border-radius: 5px;
	border: 1px solid;
    height: 200px;
    background-color: #69D2E7;
}

.menu {
	border: 1px solid;
	width: 280px;
	height: 50px;
    float: right;
    margin-top: 70px;
    margin-right: 30px;

}

.menuButton {
	border: 2px solid white;
	height:40px;
	width: 80px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	margin-right: 3px;
	margin-left: 3px;	
	margin-top: 3px;
	display: inline-block;
	background-color: #69D2E7;
}

.menuButton p {
	color: white;
	font-size:15px;
	font-family: Verdana;
}

/*//////////////////////////////////////////////////////////////////*/
		/* LB LEADERS CSS */
/*//////////////////////////////////////////////////////////////////*/

.topFiveTitle {
	border:1px solid;
    height: 50px;
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    
}

.topFiveTitle p {
	color: black;
	font-size: 18px;
	font-family: Verdana;
}

.leaderList {
	border: 1px solid;
	border-radius:5px;
	background-color: #f1f2f2;
	height: 350px;
}

.avatar {
	border:3px solid #69D2E7;
	border-radius: 100px;
	height: 150px;
	width: 150px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: center;

}

.topFiveFrame {
	border: 1px solid;
	width: 910px;
	margin: auto;
	margin-top: 5px;
}

/*//////////////////////////////////////////////////////////////////*/
		/* LEADERBOARD LIST CSS */
/*//////////////////////////////////////////////////////////////////*/

.listframe {
	border: 1px solid;
	border-radius: 2px;
	width: 600px;
	height: 650px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;

}


.listBar {
	border: 1px solid;
	border-radius: 2px;
	height: 55px;
	width: 530px;
	font-size: 15px;
	font-family: Verdana;
	padding-right: 3px;
	padding-left: 3px;
    padding-top: 3px;
}

.icon {
	border: 2px solid #69D2E7;
	border-radius: 100px;
	height: 50px;
	width: 50px;
	margin-left: 10px;

}

/*//////////////////////////////////////////////////////////////////*/
		/* FOOTER CSS */
/*//////////////////////////////////////////////////////////////////*/

.footer {
  border: 1px solid;
  border-radius: 5px;
  height: 200px;
  margin-top: 1px;
  background-color: #A7DBD8;

}


.footRight {
	border: 1px solid;
	float: right;
	height: 80px;
	width: 300px;
	margin-right: 20px;
	margin-top: 20px;
}

.link {
  border: 2px solid;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  text-align: center;
  background-color: #fff;

}

/*//////////////////////////////////////////////////////////////////*/
		/* NVABAR CSS */
/*//////////////////////////////////////////////////////////////////*/

/*
.groupBar
{
	border:1px solid;
    height: 38px;
    background-color: white;

}


.groupbuttonFrame
{
	border: 1px solid; 
	border-radius: 2px;
    width: 350px;
    margin: auto;

}


.groupbutton
{
	border:1px solid;
	border-radius: 2px;
    height: 35px;
    width: 100px;
    text-align: center;
    font-family: Verdana;
    font-size: 13px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #4ECDC4;
} */

/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

.active
{
	background-color: #ABCDEF;
}











